<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>useAsWebAuthenticationForAppleLogin</key>
	<true/>
	<key>embeddedMode</key>
	<true/>
	<key>shouldSuggestSavePassword</key>
	<true/>
	<key>baseUrl</key>
	<string>https://autheu.davidantoon.me</string>
	<key>clientId</key>
	<string>b6adfe4c-d695-4c04-b95f-3ec9fd0c6cca</string>
	<key>logLevel</key>
	<string>trace</string>
	<key>applicationId</key>
	<string>51e9b0d6-6f07-4989-9ce1-2c0b0ad0791f</string>
	<key>enableOfflineMode</key>
	<true/>
	<key>loginOrganizationAlias</key>
	<string>test</string>
</dict>
</plist>
