<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationId</key>
	<string>f717b75f-e09a-48cc-a84e-e20a8454a9cf</string>
	<key>keepUserLoggedInAfterReinstall</key>
	<false/>
	<key>baseUrl</key>
	<string>https://app-x4gr8g28fxr5.frontegg.com</string>
	<key>clientId</key>
	<string>5f493de4-01c5-4a61-8642-fca650a6a9dc</string>
	<key>entitlementsEnabled</key>
	<true/>
	<key>logLevel</key>
	<string>trace</string>
	<key>embeddedMode</key>
	<true/>
	<key>loginOrganizationAlias</key>
	<string></string>
</dict>
</plist>
