.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
demo/demo/associated-domain-example/node_modules
demo/test.xcresult
demo/build
test.xcresult
