<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>embeddedMode</key>
	<false/>
	<key>keychainService</key>
	<string>testService</string>
	<key>regions</key>
	<array>
		<dict>
			<key>baseUrl</key>
			<string>https://region1.test.com</string>
			<key>clientId</key>
			<string>f87f8fea-8cb3-4a46-bab8-0169726a5704</string>
			<key>applicationId</key>
			<string>549e3240-84e2-495a-91ea-be467f807272</string>
		</dict>
		<dict>
			<key>key</key>
			<string>region2</string>
			<key>baseUrl</key>
			<string>https://region2.test.com</string>
			<key>clientId</key>
			<string>d37ad699-e466-451a-a9d1-d590869dba1a</string>
			<key>applicationId</key>
			<string>199d93c3-0d82-4eac-ab95-4b9e3d617053</string>
		</dict>
	</array>
	<key>loginWithSocialLogin</key>
	<false/>
	<key>loginWithSSO</key>
	<true/>
	<key>lateInit</key>
	<true/>
</dict>
</plist>
