<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrl</key>
	<string>https://app-v686mk10lsu7.stg.frontegg.com</string>
	<key>clientId</key>
	<string>8bb0a851-96e8-4b4d-ae75-e21fc0fefc33</string>
	<key>logLevel</key>
	<string>trace</string>
	<key>embeddedMode</key>
	<false/>
	<key>enableSessionPerTenant</key>
	<true/>
</dict>
</plist>
