name: "onPush( Build & Lint )"

on:
  push:
    branches-ignore:
      - master

jobs:
  build-and-lint:
    name: "Build & Lint"
    runs-on: 'macos-15-xlarge'
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Check Xcode setup
        run: |
          xcodebuild -project demo/demo.xcodeproj -version
          xcodebuild -project demo/demo.xcodeproj -showsdks
          xcodebuild -project demo/demo.xcodeproj -list

      - name: Build Demo App
        run: |
          xcodebuild CC=clang CPLUSPLUS=clang++ LD=clang LDPLUSPLUS=clang++ \
            build-for-testing \
            -scheme "demo" \
            -project "demo/demo.xcodeproj" \
            -destination "platform=iOS Simulator,name=iPhone 16 Pro" \
            -configuration "Debug" \
            -enableCodeCoverage "YES"

      - name: Validate CocoaPods
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
        run: |
          pod lib lint --verbose --allow-warnings
